footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #0000001a;
    flex-wrap: wrap;
    margin-top: 20px;
}

.copyright{
    font-size: 0.9rem;
    color: #fff;
    letter-spacing: 1px;
}

.subscribe input{
    width: 240px;
    height: 43px;
    padding: 0px 20px;
    border: 1px solid rgba(0,0,0,0.1);
    outline: none;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.05);
}

.subscribe input[type="submit"]{
    width: 120px;
    background-color: #8400ff;
    color: #ffff;
    margin: 0px 5px;
}